.item {
  display: flex;
  gap: 6px;

  padding: 13px 0;

  outline: none;

  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}
