.container {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--color-light-100);

  & svg {
    width: 16px;
    height: 16px;
  }

  & button {
    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}
