h1 {
  all: unset;
}

.myDeckContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
}

.backWrap {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
  }
}

.addCardBlock {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dropdownItem {
  display: flex;
  gap: 15px;
  align-items: center;

  padding: 10px;

  white-space: nowrap;

  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.logo {
  width: 170px;
  height: 107px;
  object-fit: cover;
  border-radius: 2px;
}

.paginationBlock {
  margin-top: 20px;
}
