.changeEmail {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: center;

  width: 100%;
}

.textfield {
  width: 100%;
  height: 36px;
}

.changeSpan {
  display: flex;
  gap: 10px;
}
