button {
  all: unset;
}

.wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}

.wrapForCheckbox {
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: transparent;
  outline: none;

  transition: 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-dark-500);
    border-radius: 50%;
  }

  &:active {
    color: var(--color-light-900);
    background-color: var(--color-dark-100);
    border-radius: 50%;
  }

  &:focus {
    background-color: var(--color-dark-100);
    border-radius: 50%;
    outline: none;
  }
}

.checkbox {
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 17px;
  height: 17px;

  background-color: transparent;
  border: 1px solid var(--color-light-900);
  border-radius: 2px;
  outline: none;

  &[data-state='checked'] {
    border: transparent;
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border-radius: 2px;

  &[data-state='checked'] {
    box-shadow: 0 0 10px 0 white;
  }

  svg {
    width: 19px;
    height: 19px;
  }
}

.label {
  transition: 0.1s;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }
}

.disabled {
  pointer-events: none;
  user-select: none;

  label {
    color: var(--color-dark-100);
  }

  button {
    border-color: var(--color-dark-100);
  }
}
