button {
  all: unset;
}

.wrap {
  display: flex;
  gap: 11px;
  align-items: center;
}

.checkbox {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  color: var(--color-light-900);

  background-color: transparent;
  border-radius: 2px;
  outline: none;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: -50%;
    left: -50%;
    transform: scale(0);

    display: block;

    width: 36px;
    height: 36px;

    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;

    transition: 0.3s;
  }

  &:focus-visible {
    &::before {
      transform: scale(1);
      background-color: var(--color-dark-100);
    }
  }

  &:hover {
    &::before {
      transform: scale(1);
      background-color: var(--color-dark-500);
    }
  }

  &:active {
    &::before {
      transform: scale(1);
      background-color: var(--color-dark-100);
    }
  }
}

.indicator {
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border-radius: 2px;

  &[data-state='checked'] {
    box-shadow: 0 0 10px 0 white;
  }
}

label {
  cursor: pointer;
  transition: 0.1s;
}

.disabled {
  pointer-events: none;
  user-select: none;

  label {
    color: var(--color-dark-100);
  }

  .checkbox {
    &[data-disabled] {
      color: var(--color-dark-100);
    }
  }

  .indicator {
    color: var(--color-dark-100);
    background-color: var(--color-light-900);
    box-shadow: none;
  }
}
