/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  width: 210px;
  height: 36px;
  padding: 6px 12px;

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  outline: none;
  transition: 0.3s;

  &:hover {
    //background-color: var(--mauve-3);
  }

  &:focus {
    border-color: var(--color-info-500);
  }

  &:active {
    border-color: var(--color-dark-100);
  }

  &[data-state='open'] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    & .SelectIcon {
      transform: rotate(180deg);
    }
  }

  &[data-disabled] {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }
}

.SelectIcon {
  transition: 0.3s;
  display: flex;
  align-items: center;
  color: var(--color-light-100);
}

.SelectContent {
  overflow: hidden;

  width: var(
                  --radix-select-trigger-width
  ); // в доке radix-select (для того, чтобы был на ширину элемента триггера)

  background-color: transparent;
  outline: none;
}

.SelectViewport {
  border: 1px solid var(--color-dark-300);
  border-top: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
}

.SelectItem {
  height: var(--radix-select-trigger-height);
  user-select: none;

  display: flex;
  align-items: center;

  padding: 6px 12px;

  color: var(--color-light-100);

  background-color: transparent;
  outline: none;
  transition: 0.3s;

  &:hover {
    color: var(--color-primary-300);
    background-color: var(--color-primary-900);
  }

  &[data-state='checked'] {
    background-color: var(--color-primary-300);
  }

  &[data-highlighted] {
    background-color: var(--color-primary-700);
  }
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
}

.SelectItemIndicator {
  position: absolute;
  right: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;

  color: var(--color-light-100);
}
