/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  width: 210px;
  height: 36px;
  padding: 6px 12px;

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  outline: none;

  &:hover {
    background-color: var(--mauve-3);
  }

  &:focus {
    box-shadow: 0 0 0 2px black;
  }

  &:active {
    border-color: var(--color-dark-100);
  }

  &[data-state='open'] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.SelectIcon {
  display: flex;
  align-items: center;
  color: var(--color-light-100);
}

.SelectContent {
  overflow: hidden;

  width: var(
    --radix-select-trigger-width
  ); // в доке radix-select (для того, чтобы был на ширину элемента триггера)

  background-color: transparent;
  outline: none;
  box-shadow:
    0 10px 38px -10px rgb(22 23 24 / 35%),
    0 10px 20px -15px rgb(22 23 24 / 20%);
}

.SelectViewport {
  border: 1px solid var(--color-dark-300);
  border-top: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
}

.SelectItem {
  user-select: none;

  display: flex;
  align-items: center;

  height: 25px;
  padding: 6px 12px;

  color: var(--color-light-100);

  background-color: transparent;
  outline: none;

  &:hover {
    color: var(--color-primary-300);
    background-color: var(--color-primary-900);
  }
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
}

.SelectItemIndicator {
  position: absolute;
  right: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;

  color: var(--color-light-100);
}
