/* reset */
button {
  all: unset;
}

.selectLabel {
  display: flex;
  padding-bottom: 5px;
  color: var(--color-dark-100);
}

.labelDisabled {
  user-select: none;
  color: var(--color-dark-300);
}

.selectTrigger {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  // width: 210px;
  height: 36px;
  padding: 6px 12px;

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  outline: none;

  transition: 0.3s;

  &:hover {
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-100);
  }

  &:focus-visible {
    border-color: var(--color-info-700);
  }

  &:active {
    border-color: var(--color-dark-100);
  }

  &[data-state='open'] {
    // border-bottom-right-radius: 0;
    // border-bottom-left-radius: 0;
    border-radius: 0;

    & .selectIcon {
      transform: rotate(180deg);
    }
  }

  &[data-disabled] {
    // pointer-events: none;
    user-select: none;
    color: var(--color-dark-300);

    svg {
      color: var(--color-dark-300);
    }
  }
}

.selectIcon {
  display: flex;
  align-items: center;
  color: var(--color-light-100);
  transition: 0.3s;
}

.selectViewport {
  background-color: var(--color-dark-900);
  outline: none;

  &:active {
    border-color: var(--color-dark-100);
  }
}

.selectContent {
  cursor: pointer;

  overflow: hidden;

  width: var(
    --radix-select-trigger-width
  ); // в доке radix-select (для того, чтобы был на ширину элемента триггера)

  background-color: transparent;
  outline: none;

  &[data-side='bottom'] {
    & .selectViewport {
      border: 1px solid var(--color-dark-300);
      border-top: none;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  &[data-side='top'] {
    & .selectViewport {
      border: 1px solid var(--color-dark-300);
      border-bottom: none;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }
}

.selectItem {
  user-select: none;

  display: flex;
  align-items: center;

  height: var(--radix-select-trigger-height);
  padding: 6px 12px;

  background-color: transparent;
  outline: none;

  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
    color: var(--color-primary-300);
    background-color: var(--color-primary-900);
  }

  &[data-state='checked'] {
    background-color: var(--color-primary-700);
  }

  &[data-highlighted] {
    transform: scale(1.05);
    color: var(--color-primary-300);
    background-color: var(--color-primary-900);
  }
}
