.container {
  &:last-child div {
    display: flex;
    justify-content: flex-end;
  }
}

.question {
  display: flex;
  gap: 20px;
  align-items: center;

  img {
    width: 118px;
    height: 48px;
    object-fit: cover;
    border-radius: 2px;
  }
}

.answer {
  display: flex;
  gap: 20px;
  align-items: center;

  img {
    width: 118px;
    height: 48px;
    object-fit: cover;
    border-radius: 2px;
  }
}
