h1 {
  all: unset;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
}

.clearButton {
  svg {
    width: 16px;
    height: 16px;
  }
}

.changeCardBlock {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  height: 36px;

  input {
    height: 36px;
  }
}

.textfield {
  width: 400px;
}

.tabContent {
  //max-width: 1010px;
}

.paginationBlock {
  margin-top: 20px;

  //margin-bottom: 100px;
}
