.buttonUpload {
  position: relative;
  margin-top: 20px;

  button {
    position: absolute;
  }
}

.checkbox {
  margin-top: 35px;
}

.previewImage {
  height: 400px;
  object-fit: contain;
  border-radius: 2px;
}
