h1,
h2,
form {
  all: unset;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;

  padding: 33px;
}

.avatarBlock {
  position: relative;

  &:hover {
    & .removeAvatar {
      opacity: 1;
    }
  }
}

.removeAvatar {
  position: absolute;
  top: -5px;
  right: -5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  opacity: 0;
}

.avatar {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 50%;
}

.defaultAvatar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 96px;
  height: 96px;

  color: var(--color-light-900);

  border: 1px solid var(--color-dark-500);
  border-radius: 50%;
}

.changeAvatar {
  position: absolute;
  right: 0;
  bottom: 5px;

  width: 24px;
  height: 24px;

  background-color: var(--color-dark-500);

  svg {
    width: 16px;
    height: 16px;
  }
}

.name {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;

  span {
    text-wrap: nowrap;
  }

  svg {
    width: 16px;
    height: 16px;
    margin-top: 3px;
  }
}

.email {
  color: var(--color-dark-100);
}
