.container {
  cursor: pointer;
  padding: 6px 24px;

  background-color: transparent;
  border: 1px solid var(--color-dark-500);
  outline: none;

  transition: 0.3s;

  &:first-child {
    border-right: 1px solid var(--color-dark-500);
    border-left: 1px solid var(--color-dark-500);
    border-radius: 2px 0 0 2px;
  }

  &[data-state='inactive']:hover {
    background-color: var(--color-dark-700);
    border-color: var(--color-dark-300);
  }

  &:not(:last-child) {
    border-right-color: transparent;
  }

  &[data-state='active'] {
    background-color: var(--color-primary-500);
    border-color: var(--color-primary-500);
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
  }
}
