.body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 542px;
  max-height: 550px;
  padding: 18px 24px;

  background-color: var(--color-dark-700);
  border-color: var(--color-dark-500);
  border-style: solid;
  border-width: 0 1px;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-300);
    border-radius: 3px;

    &:hover {
      background-color: var(--color-dark-100);
    }
  }
}
