button,
fieldset,
input {
  all: unset;
}

.dialogOverlay {
  position: fixed;
  z-index: 3;
  inset: 0;

  opacity: 0.7;
  background-color: var(--color-dark-900);

  animation-duration: 0.3s;

  @keyframes overlay-show {
    from {
      opacity: 0;
    }

    to {
      opacity: 0.7;
    }
  }

  @keyframes overlay-hidden {
    from {
      opacity: 0.7;
    }

    to {
      opacity: 0;
    }
  }

  &[data-state='open'] {
    animation-name: overlay-show;
  }

  &[data-state='closed'] {
    animation-name: overlay-hidden;
  }
}

.dialogContent {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  max-width: 50%;

  animation-duration: 0.5s;

  &[data-state='open'] {
    animation-name: open;
  }

  &[data-state='closed'] {
    animation-name: closed;
    animation-duration: 0.3s;
  }

  @keyframes open {
    from {
      transform: translate(-50%, -100%);
      opacity: 0;
    }

    to {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  @keyframes closed {
    from {
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    to {
      transform: translate(-50%, 100%);
      opacity: 0;
    }
  }
}

.mainContent {
  width: 542px;
  padding: 18px 24px;

  background-color: var(--color-dark-700);
  border-color: var(--color-dark-500);
  border-style: solid;
  border-width: 0 1px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: 119px;
    object-fit: cover;
    border-radius: 10px;
  }
}
