.button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  color: var(--color-light-100);

  border-radius: 4px;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  background-color: var(--color-primary-500);
}

.secondary {
  background-color: var(--color-dark-300);
}

.fullWidth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
