.button {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  color: var(--color-light-100);

  border-radius: 4px;
}

.primary {
  background-color: var(--color-primary-500);
  transition: 0.3s;

  &:active {
    transform: scale(0.95);
    background-color: var(--color-primary-700);
  }

  &:hover {
    background-color: var(--color-primary-300);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
    transition: 0.1s;
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-primary-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);
  transition: 0.3s;

  &:active {
    transform: scale(0.95);
    background-color: var(--color-dark-500);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
    transition: 0.1s;
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.icon {
  padding: 0;
  background-color: transparent;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.fullWidth {
  width: 100%;

  &:active {
    transform: scale(0.99);
  }
}
