button {
  all: unset;
}

.container {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  gap: 12px;
}

.itemWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: transparent;
  border-radius: 50%;
  outline: transparent;

  transition: 0.3s;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-primary-900);
  }

  &:focus-visible {
    background-color: var(--color-dark-700);
  }
}

.item {
  width: 16px;
  height: 16px;

  background-color: transparent;
  border: 2px solid var(--color-primary-500);
  border-radius: 50%;

  transition: 0.3s;

  &[data-disabled] {
    border-color: var(--color-primary-900);
  }
}

.indicator {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  &[data-state='checked'] {
    &::after {
      content: '';

      display: block;

      width: 8px;
      height: 8px;

      background-color: var(--color-primary-500);
      border-radius: 50%;

      transition: 0.3s;
    }
  }

  &[data-disabled] {
    &::after {
      background-color: var(--color-primary-900);
    }
  }
}

.label {
  align-self: center;
}

.disable {
  pointer-events: none;
  user-select: none;
  color: var(--color-light-900);
  background-color: transparent;
}
