.main {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid var(--color-dark-500);
  background-color: var(--color-dark-700);
  padding: 12px 136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  gap: 14px;
  align-items: center;
}
