.container {
  cursor: auto;
  user-select: none;

  display: flex;
  gap: 10px;
  align-items: center;

  padding: 12px 0;
}

.img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.defaultAvatar {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-light-900);

  border: 1px solid var(--color-dark-500);
}

.wrap {
  display: flex;
  flex-direction: column;
}

.email {
  color: var(--color-dark-100);
}
